.App {
  
}

.sidebar {
  background-color: #1C1D21;
  color: white;
  width: 20%;
  text-align: center;
}

.things {
  width: 80%;
}

ul {
  padding: 0;
}

li.thing {
  padding: 10px;
  list-style: none;
}

.thing-title {
  display: inline-block;
  width: 194px;
}

.category-title {
  width: 224px;
  font-size: 2em;
}

.completed {
  text-decoration: line-through;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-item {
  width: 324px;
  display: inline-block;
  background-color: #EEEFF7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  overflow: auto;
  position: relative;
}
