.App {
  
}

.sidebar {
  background-color: blue;
  color: white;
  width: 20%;
  text-align: center;
}

.things {
  width: 80%;
}

li.thing {
  padding: 10px;
  list-style: none;
}

.thing-title {
  display: inline-block;
  width: 250px;
}

.completed {
  text-decoration: line-through;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-item {
  width: 20%;
  margin: auto;
  display: inline-block;
}
